<section>
    <div class="container-fluid">
      <div class="container2">
        <div class="row">
          <div class="col-5 w-25">
            <div class="card text-center">
              <img src='{% static 'services/11.jpg' %}' style="height: 200px" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Регистраиця</h4>
                <div class="card-text">Для публикации своих услуг клиент должен пройти регистрацию. После это откроется возможность выкладывать свои потребности и обмениваться ими с другими</div>
                <a href="" class="btn btn-primary">Зарегестриваться</a>
              </div>
            </div>
          </div>
          <div class="col-5 w-20 " id="for_col_text">
              <div class="card text-center">
                <div class="card-body">
                  <h4 class="card-title">В чём особенность?</h4>
                  <div class="card-text">
                    Данный контент разработан с целью привлечения людей, желающих выйти из обычной области оборота денежных средств и перейти на нестандартное обращение услуг. В современном мире мы привыкли выполнять свои потребности применяя привычный для всех бартер – деньги.
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5 w-20" id="for_col_text">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Присоединяйся</h4>
                <div class="card-text">Этот сайт является своего рода проектом направленным на получение новых взаимоотношений и выполнение внутренних желаний.Для достижения цели не важно какой статус ты занимаешь в обществе, любой человек сможет найти  здесь то, что он захочет, и получить это ценой собственных услуг другому.
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 w-25">
            <div class="card text-center">
              <img src='{% static 'services/four.jpeg' %}' style="height: 200px" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Узнать о проекте подробнее</h4>
                <div class="card-text">Для публикации своих услуг клиент должен пройти регистрацию. После это откроется возможность выкладывать свои потребности и обмениваться ими с другими</div>
                <a href="" class="btn btn-primary">Читать</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5 w-25">
            <div class="card text-center">
              <img src='{% static 'services/firtd.jpg' %}' style="height: 200px" alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Регистраиця</h4>
                <div class="card-text">Для публикации своих услуг клиент должен пройти регистрацию. После это откроется возможность выкладывать свои потребности и обмениваться ими с другими</div>
                <a href="" class="btn btn-primary">Присоединиться</a>
              </div>
            </div>
          </div>
          <div class="col-5 w-20" id="for_col_text">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Регистраиця</h4>
                <div class="card-text">Для публикации своих услуг клиент должен пройти регистрацию. После это откроется возможность выкладывать свои потребности и обмениваться ими с другими</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>